:root {
  --orange1: rgb(233, 163, 42);
  --orange2: rgb(254, 212, 140);
  --grey: rgb(112, 112, 112);
}

* {
  font-family: 'Nunito Sans', sans-serif;
  }
  
  body {
   background-image: linear-gradient(to top, #f9f2f1 0%, #fffaff 100%);
  }

  .input-style {
    display: flex;
    justify-content: center;
  }

  input {
    background-color: transparent;
    border-radius: 50px;
    border: 2px solid var(--orange2);
    color: var(--orange1);
    font-size: 1.2rem;
    outline: none;
    padding: 16px 16px;
    margin-bottom: 100px;
    width: 50%;
    box-shadow: 10px 10px 20px -11px var(--orange2);
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--orange2);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--orange2);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--orange2);
  }

  h1 {
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
    color: var(--orange1);
    margin-top: 100px;
  }
  
  h3 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    color: var(--grey);
  }
  
  .card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    align-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 3px 5px var(--orange2);
    display: flex;
    flex-direction: column;
    height: 0%;  
    justify-content: center;
    margin-bottom: 50px;
    margin-right: 50px;
    overflow: hidden;
  }
  
  .card p {
    flex: 1;
    font-size: 1.2rem;
    margin-top: 5px;
    padding: 5px 20px 0px 20px;
    text-align: center;
    color: var(--grey);
  }
  
  .card img {
    width: 100%;
  }